<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Oooups!</title>
    <style>
  body{
   background-color: #0000ff;
   font-family: Lucida Console;
   	font-size: 16px;
   	font-style: normal;
   	font-variant: normal;
    color: white;
  }

    </style>
</head>
<body>
A problem has been detected and your connection has been shut down to prevent damage
to your computer or brain.</br>
</br>
The problem seems to be caused by the following item: the gasket between the monitor and the back of the chair</br>
</br>
ERROR 404 - NOT FOUND (Oooups!)</br>
</br>
If this is the first time you've seen this stop error screen,</br>
<s>restart your computer</s> go to the previous page and try again.</br>
If you're not living in the eastern Europe, then DO NOT READ the lines below,</br>
DO NOT DO the shit is written there and please, do not try to sue me for your own deeds.  </br>
</br>
If this screen appears again, follow these steps:</br>
Check to make sure you know where the developers are living.</br>
Kidnap someone from backend developers,</br>
take them into a deep and empty forest,</br>
and start to gut them with a wooden spoon.</br>
Burn the body and get rid of all of the evidence.</br>
Repeat every time you see this error until there are no errors or no developers.</br>
</br>
If problems continue, disable or remove any installed hardware</br>
or software. Take all that electronic shit and throw it out from the window.</br>
"Windows flying from the window!", how do you like that? </br>
Buy yourself a good, time-proved science fiction book and read it in silence.</br>
</br>
Technical Information:</br>
</br>
*** STOP: 127.0.0.1:8080 (0xffffffffc0000005, 0xfffff80002e55151, 0xfffff880009a99d8,</br>
0xfffff880009a9230)</br>
</br>
</body>
</html>
